@charset "utf-8";

@import url(https://fast.fonts.net/cssapi/81dc0d4e-3929-4397-bdf6-9d27e5ab8a18.css);

html {
  background-image: linear-gradient(to right,#62C9F9,#5EEDC9);
}

body {
  text-align: center;
  padding: 10px;
}

h1, h2 {
  color: white;
  font-family: 'Museo Slab W01_500', sans-serif;
  margin: 10px;
}

h2 {
  font-size: 18px;
}

p {
  color: white;
  font-family: 'Proxima N W01 Reg', sans-serif;
  font-size: 18px;
  margin-top: 0;
  line-height: 24px;
}

.short-width {
  max-width: 620px;
  margin: 0 auto;
  line-height: 24px;
}

.logo {
  margin: 0 auto 20px auto;
}

.section {
  margin: 50px 0;
}

.speakers {
  padding: 0;
  margin-top: 20px;
}

.speaker {
  display: inline-block;
  list-style-type: none;
  padding: 0 20px;
  min-width: 170px;
}

.speaker-image {
  margin: 0 auto 10px auto;
  background: white;
  border-radius: 37px;
  width: 74px;
  height: 74px;
  text-align: center;
}

.speaker-image img {
  width: 68px;
  height: 68px;
  border-radius: 50px;
  padding: 3px;
}

input {
  background: white;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 18px;
  font-family: 'Museo Slab W01_500', sans-serif;
}

.button {
  background: #5BBEEC;
  color: white;
}

.response {
  max-width: 500px;
  margin: 20px auto;
  color: white;
  padding: 10px;
  border-radius: 6px;
  line-height: 22px;
}

.success-response {
  background: #2ecc71;
}

.error-response {
  background: #e74c3c;
}

p.name {
  margin: 0;
  font-size: 18px;
  font-family: 'Museo Slab W01_500', sans-serif;
}

p.talking {
  margin: 0;
  font-size: 12px;
}

p.title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}