---
title: Talking Code
---

<div class="section">
  <div class="logo"></div>
</div>
<div class="section">
  <h1>Trouble decoding what developers say?</h1>
  <p>Our podcast can help you translate. Short interviews with experts on the need-to-know.</p>
</div>
<div class="section">
  <h2>Sign up to get notified when we launch – April 2015.</h2>
</div>
<div class="section">
  <h2>A few of our first conversations:</h2>
  <ul class="speakers">
    <li class="speaker">
      <div class="speaker-image">
        <img src="https://s3.amazonaws.com/f.cl.ly/items/0H3T1l0c1l0b3w1f0E1E/bbc02488eec4b91964375b0da9955be2_400x400.jpeg" width="66px" height="66px">
      </div>
    </li>
    <li class="speaker">
      <div class="speaker-image">
        <img src="https://s3.amazonaws.com/f.cl.ly/items/1b0g2W3G0J2C3N0v0h0s/n3uSJI7z_400x400.jpeg" width="66px" height="66px">
      </div>
    </li>
    <li class="speaker">
      <div class="speaker-image">
        <img src="https://s3.amazonaws.com/f.cl.ly/items/473N2i1T0h3w0q1V0V2l/i0KuOTdn_400x400.jpeg" width="66px" height="66px">
      </div>
    </li>
  </ul>
</div>